@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Borel&family=PT+Sans&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Borel&family=PT+Sans&family=Roboto:wght@300&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Borel&family=Lato:wght@700&family=PT+Sans&family=Roboto:wght@300&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Borel&family=Inter:wght@600&family=Lato:wght@700&family=PT+Sans&family=Roboto:wght@300&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Borel&family=Inter:wght@600&family=Lato:wght@700&family=PT+Sans&family=Poppins:wght@300&family=Roboto:wght@300&family=Work+Sans&display=swap");
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
.popup {
  height: 300px;
  display: none;
  margin-top: 200px;
  position: absolute;
  left: 35%;
  background-color: gainsboro;
  color: black;
  width: 400px;
  padding: 10px 15px;
  border: 0;
  border-radius: 4px;
  background-color: #dbe2ef;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.popup-content {
  position: relative;
  font-family: "Didact Gothic", sans-serif;
  font-size: 14px;
  color: #112d4e;
}
.popup-content ul {
  line-height: 28px;
}
.popup-content ul li {
  word-spacing: 3px;
}
.popup-content h2 {
  margin: 20px 0px;
  text-align: center;
}
.popup-content button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
.mainLoginInput::-webkit-input-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(0, 0%, 0%);
}
.mainLoginInput::-moz-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(0, 0%, 0%);
}
.mainLoginInput:-ms-input-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}
h2 {
  font-family: "roboto", "sans-serif";
}
.D-F {
  display: flex;
}
.MobilenavBarToggleOff {
  display: none;
}
.HR {
  width: 70vw;
  margin: auto;
  color: gray;
  margin-top: 20px;
}
.NavBarMobile {
  background-color: rgb(174, 171, 171);
  color: black;
  height: 500px;
  width: 300px;
}
.account {
  margin-left: 10px;
  /* height: 35px; */
}
.Search-input input {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0px 10px;
  border-radius: 4px;
  border: 0;
  height: 30px;
  font-size: 14px;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 500;
}
.Search-input input:focus {
  outline: 0px;
}

.CartBottomLeft table {
  width: 100%;
  border-collapse: separate;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  text-align: start;
  border-spacing: 0px !important;
  font-variant: normal;
}
#CartBoxHeading {
  height: 50px;
  width: 100%;
  font-family: "Didact Gothic", sans-serif;
  background-color: #ff0000;
}
.CartBottomLeft table thead tr th {
  font-family: "Didact Gothic", sans-serif;
}

.CartBottomLeft table tbody tr td img {
  height: 100px;
}
.CartBottomLeft table tbody tr td {
  text-align: center;
}
.CartBottomLeft table tbody tr td:nth-child(2) {
  font-family: "Didact Gothic", sans-serif;
  text-align: start;
}
.CartBottomLeft table thead tr th:nth-child(2) {
  text-align: start;
}
.CartBottomLeft table tbody tr td:nth-child(1) {
  text-align: start;
}
.CartBottomLeft table tbody tr td:nth-child(3) {
  font-family: "Work Sans", sans-serif;
}
.CartBottomLeft table tbody tr td:nth-child(4) input {
  width: 35px;
  height: 30px;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  padding: 0px 3px;
  font-weight: 700;
}
.CartBottomLeft table tbody tr td:nth-child(4) input:focus {
  outline: none;
}
.CartBottomLeft table tbody tr td:nth-child(5) {
  font-family: "Work Sans", sans-serif;
}
.CartBottomLeft table tbody tr td a {
  font-family: "Didact Gothic", sans-serif;
  color: black;
  text-decoration: none;
}
.CartBottomLeft table thead {
  height: 50px;
  background-color: #ff0000db;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.CartQuantityCounter {
  border: 1px solid black;
  background-color: #fffffd;
  color: black;
  width: 50px;
  height: 25px;
  align-items: center;
  text-align: center;
}
.CartQuantityCounter button {
  font-size: 20px;
  border: 0;
  background-color: #fffffd;
  cursor: pointer;
  width: 15px;
  width: 20px;
}
.CartQuantityCounter input {
  border: 0;
  background-color: #fffffd;
  font-size: 17px;
  font-family: "Work Sans", sans-serif;
  width: 20px;
  height: 20px;
}
.CartQuantityCounter input:focus {
  outline: none;
}
.removeMainCartItem {
  margin-left: 20px;
}
.BillingDiv table {
  width: 100%;
  border-collapse: separate;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  border-spacing: 0px !important;
  font-variant: normal;
  margin: 20px 0px;
}
.BillingDiv table tbody tr {
  height: 50px;
  font-family: "Inter", sans-serif;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  font-size: 14px;
}
.BillingDiv table tbody tr td {
  border-bottom: 1px solid gray;
}
.BillingDiv table tbody tr:nth-child(4) td {
  border: 0;
}
.BillingDiv table tbody tr:nth-child(4) th {
  border: 0;
}
.BillingDiv table tbody tr th {
  border-bottom: 1px solid gray;
}

.P1button:hover {
  cursor: pointer;
  background-color: #30e3ca;
  color: white;
}
.MobilenavBarToggleDiv {
  margin-left: 20px;
  display: none;
}
.MobilenavBarToggleofffDiv {
  display: none;
}
#ListItem.active {
  right: 0px;
}
/* Nav Bar CSS */
#Logo {
  height: 30px;
}
nav {
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  height: 50px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  position: fixed;
  top: 0;
  z-index: 11;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown button {
  border: none;
  background-color: transparent;
  color: black;
  font-size: 14px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  overflow: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 12px;
  width: 700px;
  margin-top: 1px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #ffffff;
}
.Megaproductslists {
  justify-content: space-between;
  width: 700px;
  padding: 25px 20px;
  font-family: "Didact Gothic", sans-serif;
  text-align: center;
  background-color: rgb(247, 242, 242);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#ListItem a {
  text-decoration: none;
  list-style: none;
  margin: 0px 20px 0px 20px;
  color: black;
  font-size: 14px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

#ListItem a:hover {
  color: #00b8a9;
}
#ListItem {
  align-items: center;
  margin-left: 150px;
}
#Search {
  padding: 0px 10px;
  border: 1px solid gray;
  border-radius: 4px;
  color: black;
  font-size: 15px;
  height: 30px;
}
.Items2 {
  display: flex;
  position: relative;
  width: 300px;
  height: 35px;
  justify-content: space-evenly;
  align-items: center;
}
#Search:focus {
  outline: none;
}
#SearchBtn {
  margin-right: 20px;
}

#Signin {
  border-radius: 8px;
  width: 80px;
  height: 35px;
  padding: 0px 10px;
  background-color: #0a65ac;
  color: white;
  font-family: "roboto", "sans-serif";
  border: none;
  margin-right: 10px;
  font-size: 16px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
#Signup {
  border-radius: 8px;
  width: 80px;
  height: 35px;
  padding: 0px 10px;
  background-color: #24b5ea;
  color: black;
  font-family: "roboto", "sans-serif";
  border: none;
  margin-right: 10px;
  font-size: 16px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
#Signin:hover {
  background-color: #24b5ea;
  color: black;
}
#Signup:hover {
  background-color: #0a65ac;
  color: white;
}

/* landing Page */

.L-page {
  width: 100%;
  align-items: center;
  padding: 20px;
  padding-top: 60px;
}
.Photo img {
  height: 500px;
  width: 500px;
}
.Dis {
  width: 60%;
  margin-left: 50px;
}
.photo {
  width: 40%;
}

.Dis h2 {
  color: #8785a2;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}
.Dis h1 {
  color: #ff2e63;
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.Dis p {
  color: #252a34;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.Dis p span {
  color: #e23e57;
}
.ContactSectionRight button {
  width: 70px;
  height: 35px;
  background-color: gray;
  color: white;
  padding: 0px 10px;
  border: 0;
  border-radius: 25px;
  margin-top: 10px;
}
.ContactSectionRight button:hover {
  color: black;
  background-color: rgb(208, 205, 205);
  cursor: pointer;
}
.Shop {
  width: 100px;
  margin-top: 10px;
  background-color: #ff2e63;
  color: white;
}
#Shop a {
  color: black;
  text-decoration: none;
}
#Shop {
  height: 35px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 600;
  font-family: "roboto", "sans-serif";
  transition: all 0.2s;
  padding: 2px 15px;
  border-radius: 100px;
  background: #ee6983;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 14px;
}

#Shop:hover {
  background: #08d9d6;
}

#Shop > svg {
  width: 22px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

#Shop:hover svg {
  transform: translateX(5px);
}

#Shop:active {
  transform: scale(0.95);
}

.feature {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-box {
  text-align: center;
  padding: 25px 15px;
  width: 180px;
  border: 1px solid #cce7d0;
  border-radius: 4px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin: 15px 0;
}

.feature-box h6 {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: #fddde4;
  padding: 9px 8px;
  border-radius: 4px;
  margin-top: 10px;
  color: #088178;
}

/* features */
.features {
  width: 80vw;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
}
.features img {
  height: 180px;
}

/* Brands */

.brands {
  justify-content: space-between;

  padding: 10px 15px;
  margin-top: 5px;
}
.SBB {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  margin: 0px 100px;
  border-radius: 4px;
  width: 80vw;
  margin: auto;
  margin-top: 100px;
}
.BLogo {
  height: 150px;
}

.BrandTitle h2 {
  color: black;
  font-family: "poppins", sans-serif;
  text-align: center;
  font-size: 30px;
  margin-top: 15px;
  background-image: linear-gradient(
    90deg,
    hsl(39deg 100% 68%) 0%,
    hsl(38deg 100% 89%) 33%,
    hsl(38deg 100% 90%) 68%,
    hsl(39deg 99% 69%) 100%
  );
  padding: 10px 0px;
}

.newsletter {
  background-color: #eee;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "roboto", sans-serif;
}

.nl-2 button {
  font-size: 12px;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  background-color: white;
  color: #088178;
  border-radius: 4px;
  padding: 10px 15px;
  height: 40px;
  border: 0;
  transition: 0.2s ease;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.nl-2 button:hover {
  cursor: pointer;
  background-color: #088178;
  color: white;
}

.nl-2 input {
  border: 0px;
  font-size: 14px;
  height: 40px;
  width: 250px;
  padding: 10px 10px;
  border-radius: 4px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.nl-2 input:focus {
  outline: none;
}
.nl-1 p span {
  color: orangered;
}

/* New Arrival and BestSeller */

.NewandBestseller {
  width: 80vw;
  margin: auto;
  margin-top: 30px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.product img {
  height: 235px;
}

#BestSeller {
  width: 100%;
  justify-content: space-between;
  padding: 10px 15px;
  display: flex;
}
#NewArrival {
  width: 100%;
  justify-content: space-between;
  padding: 10px 15px;
  display: flex;
}
.product h4 {
  color: #000000;
  font-family: "Didact Gothic", sans-serif;
  font-size: 14px;
}
.product {
  width: 300px;
}
.product a {
  text-decoration: none;
}

#abc {
  display: none;
}
#def {
  display: block;
}

.product h2 {
  font-size: 14px;
  font-family: "roboto", sans-serif;
}
.product h3 {
  font-size: 10px;
  font-family: "roboto", sans-serif;
  margin-bottom: 5px;
}

.SelectionOfArrivalAndbestSeller {
  justify-content: center;
  padding: 20px 0px;
}
#NewArrivalBtn {
  border: none;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

#NewArrivalBtn p {
  font-family: "roboto", sans-serif;
  font-size: 30px;
  margin-right: 10px;
}
#BestsellerBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline #00b8a9;
}
#BestsellerBtn p {
  font-family: "roboto", sans-serif;
  font-size: 30px;
}

/* feature4 para */
.title_cwrap h3 {
  font-size: 80px;
  font-family: "poppins", sans-serif;
  text-align: center;
}
.title_cwrap p {
  font-size: 20px;
  font-family: "roboto", sans-serif;
  text-align: center;
  font-weight: 100;
  margin: 20px 0px 40px 0px;
  word-spacing: 10px;
}
.title_cwrap p span {
  color: #ff0000;
}
.featureParagraph {
  width: 80vw;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}
.featureItem {
  justify-content: space-evenly;
  margin-top: 80px;
}
.F img {
  height: 150px;
}
.F p {
  font-family: "roboto", sans-serif;
  font-size: 20px;
  text-align: center;
}

/* Blogs */

.blogsSection {
  width: 80vw;
  margin: auto;
  margin-top: 50px;
  padding: 10px 20px;
}
.BImage img {
  height: 200px;
}
.BText {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  font-size: 16px;
}
.BText a {
  text-decoration: none;
  color: black;
}
.BText p {
  font-size: 18px;
  font-family: "Didact Gothic", sans-serif;
}
.BlogTexts {
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
}
.BlogHeading {
  width: 90%;
}
.Blogs {
  height: 400px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #333333 #f0f0f0;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.Blogs::-webkit-scrollbar {
  width: 8px;
  background-color: #f0f0f0;
}
.Blogs::-webkit-scrollbar-thumb {
  background-color: #333333;
}

.BlogHeading h2 {
  font-size: 35px;
  font-family: "poppins", sans-serif;
}
.BlogHeading p {
  font-size: 20px;
  font-family: "roboto", sans-serif;
}
.ViewAllblogs {
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgb(34, 34, 34);
  border-radius: 4px;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin: 0px;
  outline: none;
  padding: 3px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  user-select: none;
  width: auto;
}
.ViewAllblogs:hover {
  box-shadow: rgb(34, 34, 34) 0px 0px 0px 0.5px,
    rgba(255, 255, 255, 0.8) 0px 0px 0px 2px;
  transition: box-shadow 0.2s ease 0s;
  color: rgb(34, 34, 34);
}
.ViewAllblogs:focus {
  color: rgb(34, 34, 34);
}
.ViewAllblogs:active {
  background-color: rgb(247, 247, 247);
  border-color: rgb(0, 0, 0);
  transform: scale(0.96);
  color: rgb(34, 34, 34);
}
/* FOOTER */
.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}
.f-1 {
  width: 460px;
  font-family: "Didact Gothic", sans-serif;
  line-height: 18px;
  color: #465b52;
}
.f-1 img {
  height: 30px;
}

.f-1 h4 span {
  font-weight: 600;
  font-family: "Didact Gothic", sans-serif;
}

.social {
  margin-top: 10px;
}
.social a {
  margin-right: 3px;
}

.f-1 img {
  margin-bottom: 20px;
}

.f-2 {
  width: 250px;
  color: #465b52;
}
.f-2 ul a li {
  list-style: none;
}

.f-2 ul a {
  color: black;
  text-decoration: none;
  transition: 0.2s ease;
  line-height: 22px;
  font-family: "Didact Gothic", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #465b52;
}

.f-2 ul a:hover {
  color: #088178;
}

.f-2 ul li {
  list-style: none;
}
#top-name {
  font-size: 14px;
  font-weight: 700;
  font-family: "Didact Gothic", sans-serif;
}
.f-3 {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #465b52;
  font-family: "Didact Gothic", sans-serif;
}

.store-link button {
  padding: 10px 10px;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 4px;
  margin-top: 25px;
  margin-bottom: 25px;
  transition: 0.2s ease;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 500;
}
.store-link button:hover {
  cursor: pointer;
  color: white;
  background-color: #088178;
}

.payment {
  display: flex;
  column-gap: 10px;
}
/* Products Container and items */

.productSection {
  width: 80vw;
  margin: auto;
}
.ProductContainer {
  width: 100%;
  display: flex;
  row-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Didact Gothic", sans-serif;
  color: rgb(81, 80, 80);
}
.ItemDiscription h3 {
  font-family: "Didact Gothic", sans-serif;
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-weight: 800;
}
.ItemDiscription h5 {
  font-family: "Didact Gothic", sans-serif;
  font-size: 16px;
  color: #f54a4a;
  text-decoration: none;
  font-weight: 800;
}
.ItemDiscription a {
  text-decoration: none;
}
.ItemDiscription h4 {
  font-family: "Didact Gothic", sans-serif;
  font-size: 10px;
  color: rgb(81, 80, 80);
  text-decoration: none;
  margin: 5px 0px;
}
.RatingAndSoldCounter {
  align-items: center;
}
.SoldCounter h3 {
  font-size: 12px;
  color: gray;
}
.SoldCounter {
  margin-left: 10px;
}
.ItemPhoto img {
  height: 265px;
  transition: transform 0.3s;
}
.ItemPhoto img:hover {
  transform: scale(1.05);
}

.Item {
  padding: 10px 15px;
  background-color: #f6f6f6;
  position: relative;
  width: 300px;
}
.ProductimageHoveroptiob {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
}
.ProductimageHoveroptiob i {
  margin-top: 10px;
  background-color: rgb(172 170 171 / 28%);
  padding: 13px 4px;
  border-radius: 25px;
  border: none;
}
.ProductimageHoveroptiob i:hover {
  background-color: rgba(128, 128, 128, 0.338);
  cursor: pointer;
}

#ViewAll {
  margin-top: 20px;
  border-radius: 4px;
  height: 25px;
  padding: 0px 10px;
  background-color: transparent;
  color: black;
  font-family: "roboto", "sans-serif";
  border: 0px solid gray;
  font-size: 14px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  margin: 10px 0px;
}
#ViewAll a {
  color: black;
  text-decoration: none;
}
.HomeProductTitle p {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 30px;
  font-family: "poppins", sans-serif;
  color: #ff0000;
}

#ViewAll:hover {
  cursor: pointer;
  background-color: rgb(220, 214, 214);
}
.Filters {
  text-align: end;
  margin-bottom: 10px;
}

.Filters select {
  font-family: "Didact Gothic", sans-serif;
  padding: 0px 5px;
  height: 30px;
  font-size: 14px;
}
.Filters select option {
  font-family: "Didact Gothic", sans-serif;
}
.Filters label {
  font-family: "Didact Gothic", sans-serif;
}
.Filters select:focus {
  outline: none;
}

/* BLOG PAGE CSS */
.BlogSectionTopDiv {
  position: relative;
}
.BlogSectionTopDivPhoto {
  background-image: linear-gradient(
    to right,
    #bdc3c7,
    #96a0a7,
    #707e89,
    #4d5d6c,
    #2c3e50
  );
  width: 100%;
  height: 300px;
}

.BlogSectionTopDivText {
  z-index: +1;
  position: absolute;
  top: 130px;
  left: 111px;
}
.BlogSectionTopDivText h1 {
  font-size: 70px;
  font-family: "Borel", cursive;
}
.MainBlogPage {
  width: 70vw;
  margin: auto;
  margin-top: 20px;
}
.trendingtext {
  text-align: center;
  font-family: "poppins", sans-serif;
  font-size: 40px;
}

.Authorphoto img {
  height: 40px;
  border-radius: 25px;
  margin-right: 10px;
}
.AuthorDetail {
  align-items: center;
  margin-top: 10px;
}
.authorNameAnddetail h4 {
  font-size: 13px;
}
.authorNameAnddetail h5 {
  font-size: 10px;
}
.BlogItems {
  flex-wrap: wrap;
  row-gap: 20px;
  margin-top: 10px;
}
.BlogItem {
  padding: 10px 15px;
  width: 358px;
  font-family: "Didact Gothic", sans-serif;
}

.BlogImage img {
  height: 200px;
}
.BlogDiscription h4 {
  font-size: 11px;
}
.BlogDiscription h3 {
  font-size: 21px;
  color: black;
}
.BlogDiscription a {
  text-decoration: none;
}

.BlogDiscription p {
  font-size: 14px;
  margin-top: 5px;
}

/* ABOUT section  */

.AboutUsSection {
  width: 80vw;
  margin: auto;
  margin-top: 50px;
}

.AboutUsDiv {
  font-family: "Didact Gothic", sans-serif;
  height: 600px;
  padding: 20px 200px;
  margin-top: 100px;
}

.AboutUsDiv p {
  line-height: 30px;
  word-spacing: 10px;
}

.AboutUsDiv p span {
  color: #ff0000;
}

/* CONTACT PAGE */

.ContectSectionDiv {
  display: flex;
  width: 80vw;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.ContactSectionLeft {
  width: 45%;
}
.ContactSectionRight {
  width: 55%;
  font-family: "Didact Gothic", sans-serif;
  padding: 20px 100px;
}
.contactInput {
  margin-top: 5px;
}
.Inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}
.contactInput input {
  height: 40px;
  width: 230px;
  border: 2px solid gray;
  border-radius: 2px;
  font-family: "Didact Gothic", sans-serif;
  padding: 0px 10px;
  margin-top: 5px;
}
.ContactSectionLeft iframe {
  width: 500px;
}

.contactInput h3 {
  font-family: "Didact Gothic", sans-serif;
  font-size: 14px;
}

.ContactSectionRight textarea {
  width: 475px;
  margin-top: 5px;
  font-family: "Didact Gothic", sans-serif;
  padding: 10px 15px;
}
.ContactSectionRight textarea:focus {
  outline: none;
}
.ContactSectionRight h2 {
  font-size: 35px;
  font-family: "poppins", sans-serif;
}

.ContactSectionRight h3 {
  margin-top: 20px;
}
.ContactSectionLeft img {
  height: 500px;
}

/* Adidas Product Page */

.BrandSection {
  width: 80vw;
  margin: auto;
  margin-top: 100px;
}

.AdidasProducts {
  width: 100%;
  display: flex;
  row-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Didact Gothic", sans-serif;
  color: rgb(81, 80, 80);
}
.AdidasProductDiv {
  margin: 15px 0px 15px 0px;
}

.HeadingOfAdidas {
  text-align: center;
  margin-bottom: 70px;
}
.HeadingAdidasproduct h2 {
  font-size: 16px;
  color: black;
}
.HeadingAdidasproduct h2 span {
  color: #ff0000;
}
.HeadingAdidasproduct a {
  text-decoration: none;
}
.NavBrand {
  margin-bottom: 5px;
}
.HeadingOfAdidas {
  font-size: 30px;
  font-family: "poppins", sans-serif;
}
/* Campus Product */
.CampusProducts {
  flex-wrap: wrap;
  justify-content: space-between;
}

.HeadingOfCampus {
  text-align: center;
  margin-bottom: 70px;
}
.Headingcampusproduct h2 {
  font-size: 16px;
  color: black;
}
.Headingcampusproduct h2 span {
  color: #ff0000;
}
.Headingcampusproduct a {
  text-decoration: none;
}
.NavBrand {
  margin-bottom: 5px;
}
.HeadingOfCampus {
  font-size: 30px;
  font-family: "poppins", sans-serif;
}

/* Nike Product */
.NikeProducts {
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
}
.BrandNikeitem {
  margin-top: 15px;
  margin-bottom: 15px;
}

.HeadingOfNike {
  text-align: center;
  margin-bottom: 70px;
}
.HeadingNikeproduct h2 {
  font-size: 16px;
  color: black;
}
.HeadingNikeproduct h2 span {
  color: #ff0000;
}
.HeadingNikeproduct a {
  text-decoration: none;
}
.NavBrand {
  margin-bottom: 5px;
}
.HeadingOfNike {
  font-size: 30px;
  font-family: "poppins", sans-serif;
}
/* Puma Product */

.PumaProduct {
  flex-wrap: wrap;
  justify-content: space-between;
}

.HeadingOfPuma {
  text-align: center;
  margin-bottom: 70px;
}
.HeadingPumaproduct h2 {
  font-size: 16px;
  color: black;
}
.HeadingPumaproduct h2 span {
  color: #ff0000;
}
.HeadingPumaproduct a {
  text-decoration: none;
}
.NavBrand {
  margin-bottom: 5px;
}
.HeadingOfPuma {
  font-size: 30px;
  font-family: "poppins", sans-serif;
}

/* Cart CSS */
.CartBottom {
  margin-top: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.CartDiv {
  width: 80vw;
  margin: auto;
  margin-top: 100px;
}
.CartTop h1 {
  font-size: 35px;
  font-family: "poppins", sans-serif;
}
.CartTop h3 {
  font-size: 16px;
  font-family: "Didact Gothic", sans-serif;
}
.CartItemName {
  margin-left: 20px;
}
.CartProductName h2 {
  font-size: 16px;
  font-family: "Didact Gothic", sans-serif;
}
.CartProductName h3 {
  font-size: 14px;
  font-family: "Didact Gothic", sans-serif;
}
.CartProductName {
  margin-left: 10px;
}
.CartProductSubtotal {
  margin-right: 20px;
}
.CartItemDetails li {
  list-style: none;
  margin-left: 100px;
  margin-right: 20px;
}
.CartItemDetails ul {
  display: flex;
}
.CartBottomLeft {
  width: 74%;
}
.CartBottomLeftTop {
  justify-content: space-between;
  height: 60px;
  background-color: rgb(189, 188, 188);
  align-items: center;
  font-family: "Didact Gothic", sans-serif;
}
.CartProductimageAndName {
  align-items: center;
}
.CartBottomLeftBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.CartProductImage img {
  height: 100px;
}

.CartBottomRight {
  width: 24%;
  background-color: #f0f3f2;
}

.Address {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  text-align: center;
  justify-content: center;
  width: 100%;
  font-family: "Didact Gothic", sans-serif;
  margin-top: 20px;
}
.Address h2 {
  color: black;
  font-family: "roboto", "sans-serif";
  font-size: 16px;
}
.coupon {
  justify-content: center;
  margin-top: 20px;
}
.coupon input {
  height: 35px;
  width: 190px;
  border: 2px solid black;
  padding: 0px 10px;
  font-family: "Didact Gothic", sans-serif;
  font-size: 16px;
}
.coupon button {
  height: 35px;
  width: 80px;
  background-color: black;
  color: white;
}
.coupon button:hover {
  cursor: pointer;
  background-color: rgb(48, 47, 47);
}

.Selectcountry {
  flex-direction: column;
  height: 50px;
  margin: auto;
  text-align: start;
  text-transform: uppercase;
  font-size: 13px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.Selectcountry select {
  height: 50px;
  width: 180px;
  border: 0;
}
.Selectcountry select:focus {
  outline: none;
}
.SelectState select {
  height: 50px;
  width: 180px;
  border: 0;
}
.SelectState select:focus {
  outline: none;
}
.SelectState {
  flex-direction: column;
  height: 50px;
  margin: auto;
  text-align: start;
  text-transform: uppercase;
  font-size: 13px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.ZipcodeInput {
  height: 50px;
  width: 100%;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}
.ZipcodeInput input {
  width: 180px;
  height: 35px;
  margin: auto;
  font-size: 14px;
  padding: 0px 10px;
  border: 2px solid gray;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.ZipcodeInput input:focus {
  outline: none;
}
.ZipcodeInput h3 {
  font-size: 13px;
  font-family: "Didact Gothic", sans-serif;
  text-transform: uppercase;
  text-align: start;
  margin: auto;
}
.CheckoutPage {
  width: 100%;
  text-align: center;
}
.CheckoutPage {
  margin-bottom: 20px;
}
.CheckoutPage button {
  width: 140px;
  height: 40px;
  background-color: #41d86b;
  color: black;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  border-radius: 4px;
  padding: 0px 18px;
  transition: 0.2s ease-in;
  font-family: "Didact Gothic", sans-serif;
}
.CheckoutPage button:hover {
  color: black;
  background-color: #66d385;
  cursor: pointer;
}
.SingleProductSection {
  width: 80vw;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}
.SingleProductSection h3 {
  margin-bottom: 10px;
  font-size: 14px;
  font-family: "Didact Gothic", sans-serif;
}
#RatingCounter {
  margin-bottom: 0px;
  font-size: 14px;
  font-family: "Didact Gothic", sans-serif;
}
.SingleProductShopDiv {
  width: 35%;
  padding: 10px 20px;
}
.pdiscription {
  width: 65%;
  padding: 10px 20px 0px 20px;
}
.SingleProductImage {
  column-gap: 10px;
}
#mainimg img {
  height: 20px;
}
.Timg {
  padding: 0px 5px;
  justify-content: center;
  display: flex;
}
.pdiscription h3 b {
  font-size: 30px;
}
#ProductPrice {
  font-size: 20px;
}
.ChoseColor form {
  display: flex;
}
.ChoseSize form {
  display: flex;
}
#RedRBtn input[type="radio"] {
  accent-color: red;
  border: 0px;
  width: 100%;
  height: 2em;
}
.colors p {
  font-size: 18px;
  font-family: "Didact Gothic", sans-serif;
}
.Sizes p {
  font-size: 18px;
  font-family: "Didact Gothic", sans-serif;
}
.ChoseColor form p input {
  margin-right: 5px;
  margin-top: 5px;
}
#GrayRBtn input[type="radio"] {
  accent-color: gray;
}
#BlackRBtn input[type="radio"] {
  accent-color: black;
}
#SizeSelect {
  height: 25px;
  width: 100px;
  margin: 10px 0px 10px 0px;
}
.Product-Number input {
  width: 60px;
  height: 35px;
  padding: 1px 12px;
  background-color: rgb(244, 238, 238);
  font-size: 14px;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 25px;
}
.Product-Number input:focus {
  outline: none;
}
.Product-Number button {
  width: 85px;
  height: 35px;
  background-color: #00b8a9;
  color: white;
  border: 0;
  border-radius: 20px;
  padding: 5px 10px;
  transition: 0.2s ease-in;
  font-family: "Didact Gothic", sans-serif;
}
.Product-Number button:hover {
  width: 85px;
  height: 35px;
  background-color: #ff0000;
  color: black;
  cursor: pointer;
}
.Pdiscription {
  margin-top: 50px;
}
.Pdiscription p {
  font-size: 14px;
  font-family: "Didact Gothic", sans-serif;
}
/* Responsive nav bar */
.CustomerReviewdiv {
  margin-top: 50px;
  font-weight: 500;
}
.CustomerReviewdiv h1 {
  font-size: 35px;
  font-family: "Work Sans", sans-serif;
  color: #828fa1;
}
.crntAndtotalRating {
  align-items: center;
}
.CurrentRating h1 {
  font-size: 30px;
  margin-right: 10px;
  font-family: "Work Sans", sans-serif;
  color: black;
}
.totalRating h2 {
  font-size: 12px;
}
.WriteAreviewButton {
  margin: 20px 0px;
}

.WriteAreviewButton button {
  width: 250px;
  background-color: gray;
  color: white;
  border: 0;
  border-radius: 25px;
  padding: 10px 5px;
  font-size: 15px;
  font-family: "Didact Gothic", sans-serif;
  align-items: center;
}
.WriteAreviewButton button:hover {
  cursor: pointer;
  background-color: rgb(190, 178, 178);
}
.CustomerReviewContainer {
  margin: 20px 0px;
}
.CustomerReviewContainer h2 {
  font-size: 15px;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 3px;
}
.CustomerReviewContainer h5 {
  font-size: 10px;
  margin-bottom: 8px;
  font-family: "Didact Gothic", sans-serif;
}
.CustomerReviewContainer h4 {
  font-size: 17px;
  margin-bottom: 5px;
  font-family: "Didact Gothic", sans-serif;
}
.ratingStars {
  margin-bottom: 5px;
}
.SingleProductSection h3 a {
  color: black;
  text-decoration: none;
}
.CustomerReviewContainer p {
  font-size: 10px;
  margin-bottom: 5px;
  font-family: "Didact Gothic", sans-serif;
}
.FeaturedProductsUnderProduct {
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: space-between;
  margin-top: 20px;
}
.FeaturedText h2 {
  font-size: 30px;
  font-family: "poppins", sans-serif;
}
.HeaderofRecommendSection {
  justify-content: space-between;
  align-items: center;
}
.ViewAllBtnInFeaturedProducts a {
  text-decoration: none;
  color: black;
  font-family: "Didact Gothic", sans-serif;
}
.Recomendedsection {
  margin-top: 20px;
}

/* Shop Section Page */
.shopSection {
  width: 80vw;
  margin: auto;
  margin-top: 100px;
}
.ShoptitleTitle {
  margin-bottom: 20px;
}
.ShoptitleTitle p {
  text-align: center;
  margin-top: 25px;
  font-size: 30px;
  font-family: "poppins", sans-serif;
  color: #ff0000;
}
.ShopFilters {
  text-align: end;
  margin-top: 20px;
}

.ShopFilters select {
  height: 20px;
  font-family: "Didact Gothic", sans-serif;
}
.ShopFilters select option {
  font-family: "Didact Gothic", sans-serif;
}
.ShopFilters label {
  font-family: "Didact Gothic", sans-serif;
}
.ShopFilters select:focus {
  outline: none;
}
.CatagoriesSection {
  width: 30%;
  padding: 10px 20px;
}
.SizeCatagory {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.SizeCatagory h3 {
  font-size: 16px;
  font-family: "Didact Gothic", sans-serif;
  margin-bottom: 10px;
}

.BrandCatogary h3 {
  font-size: 16px;
  font-family: "Didact Gothic", sans-serif;
  margin-bottom: 10px;
}
.BrandCatogary {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.ChoseColor h3 {
  font-size: 16px;
  font-family: "Didact Gothic", sans-serif;
  margin-bottom: 10px;
}
.PriceRange h3 {
  font-size: 16px;
  font-family: "Didact Gothic", sans-serif;
  margin-bottom: 10px;
}
.BrandCatogary {
  display: flex;
  flex-direction: column;
}

.PriceRange h2 {
  font-size: 16px;
  font-family: "Didact Gothic", sans-serif;
  margin-bottom: 10px;
}
.RangeOfPrice {
  width: 100px;
  justify-content: space-between;
}

#CatagoryHr {
  margin: 10px 0px;
}

.PriceRange input[type="range"] {
  -webkit-appearance: none;
  width: 100px;
}
.PriceRange input[type="range"]:focus {
  outline: 0;
}
.PriceRange input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background-color: gray;
  box-shadow: none;
  border: 0;
}
.PriceRange input[type="range"]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  height: 18px;
  width: 14px;
  background-color: #ff0000;
  -webkit-appearance: none;
  margin-top: -7px;
}
.CatagoriesSection {
  width: 35%;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.Mini-Cart {
  width: 400px;
  /* height: 600px; */
  background-color: rgb(248, 244, 244);
  position: absolute;
  top: 100%;

  right: 0;
  padding: 10px 10px;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  display: none;
}
.MiniCartItemDiv {
  width: 100%;
  overflow: auto;
}
.cartIconInNavbar:hover .Mini-Cart {
  display: block;
}

.cartIconInNavbar {
  margin-left: 10px;
  position: relative;
}
.MinicartProductImage img {
  height: 70px;
}
.MiniCartHeading h2 {
  font-size: 16px;
  font-family: "poppins", sans-serif;
  margin-bottom: 10px;
}
.MinicartContent {
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 10px;
  display: flex;
}
.MinicartProductDetails {
  padding: 0px 5px;
}
.MinicartProductDetails a h3 {
  font-size: 14px;
  color: black;
  text-decoration: none;
  font-family: "Didact Gothic", sans-serif;
}
.MinicartProductDetails a {
  text-decoration: none;
}
.MinicartProductDetails a h4 {
  font-size: 10px;
  color: black;
  text-decoration: none;
  font-family: "Didact Gothic", sans-serif;
}
.MinicartProductDetails h5 {
  font-size: 14px;
  color: black;
  text-decoration: none;
  font-family: "Didact Gothic", sans-serif;
}
.MiniCartProductRemoverBtndiv {
  margin-left: 50px;
}
.Minicarttotal {
  margin-top: 10px;
}
.Minicarttotal h1 {
  font-size: 25px;
  font-family: "Work Sans", sans-serif;
}
.Minicarttotal h2 {
  font-size: 12px;
}
.MiniCartButton {
  margin-top: 20px;
}
.MiniCartButton button {
  height: 35px;
  width: 100px;
  background-color: gray;
  color: white;
  border: 0;
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 14px;
  font-family: "Didact Gothic", sans-serif;
}
.MiniCartButton button a {
  color: white;
  text-decoration: none;
}

.MiniCartButton button:hover {
  background-color: rgb(197, 188, 188);
  cursor: pointer;
}
.topBtn {
  height: 40px;
  width: 30px;
  background-color: transparent;
  text-align: center;
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 999;
  cursor: pointer;
}
.Slpage {
  background-color: #e3fdfd;
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../StrideWorld/Assets/Loginbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.Sldiv {
  background-color: #c3bef0;
  height: 400px;
  width: 300px;
  position: absolute;
  right: 200px;
  bottom: 100px;
  padding: 10px 15px;
  border-radius: 4px;
  border: 0;
}
#Logibdiv {
  margin-top: 60px;
  width: 100%;
  display: block;
}

#Logibdiv input {
  height: 35px;
  width: 100%;
  background-color: white;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  padding: 0px 10px;
  font-family: "Didact Gothic", sans-serif;
  margin: 5px 0px 10px 0px;
}
#Logibdiv input:focus {
  outline: none;
}
#LoginPageToggler {
  text-decoration: underline;
}
#signupPageToggler {
  text-decoration: none;
}
.Heading {
  margin-top: 30px;
}
.Heading h2 {
  font-size: 18px;
  cursor: pointer;
}
.Heading {
  justify-content: space-around;
}
#Logibdiv label {
  font-size: 14px;
  font-family: "Didact Gothic", sans-serif;
}
#Logibdiv button {
  height: 35px;
  width: 100%;
  background-color: #ff0000;
  color: white;
  font-size: 16px;
  padding: 0px 5px;
  border: none;
  border-radius: 25px;
  margin-top: 30px;
}
#Logibdiv button:hover {
  background-color: #de3f3f;
  cursor: pointer;
}
#SignupDiv {
  margin-top: 40px;
  width: 100%;
  display: none;
}

#SignupDiv input {
  height: 35px;
  width: 100%;
  background-color: white;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  padding: 0px 10px;
  font-family: "Didact Gothic", sans-serif;
  margin: 5px 0px 10px 0px;
}
#SignupDiv input:focus {
  outline: none;
}

.Heading {
  margin-top: 30px;
}
.Heading h2 {
  font-size: 18px;
  cursor: pointer;
}
.Heading {
  justify-content: space-around;
}
#SignupDiv label {
  font-size: 14px;
  font-family: "Didact Gothic", sans-serif;
}
#SignupDiv button {
  height: 35px;
  width: 100%;
  background-color: #ff0000;
  color: white;
  font-size: 16px;
  padding: 0px 5px;
  border: none;
  border-radius: 25px;
  margin-top: 20px;
}
#SignupDiv button:hover {
  background-color: #de3f3f;
  cursor: pointer;
}

@media screen and (max-width: 477px) {
  .SingleProductSection {
    width: 90vw;
  }
  .ContectSectionDiv {
    flex-direction: column;
    width: 90vw;
  }
  .ContactSectionLeft {
    width: 100%;
  }
  .ContactSectionLeft iframe {
    height: 330px;
    width: 330px;
  }
  .ContactSectionRight {
    width: 100%;
    padding: 10px 5px;
  }
  .ContactSectionRight h2 {
    font-size: 25px;
  }
  .contactInput input {
    width: 100%;
  }
  .Inputs {
    flex-direction: column;
  }
  .ContactSectionRight textarea {
    width: 100%;
    padding: 10px 5px;
  }
  .Sldiv {
    bottom: 375px;
    right: 0px;
    left: 57px;
  }
  .Mini-Cart {
    width: 350px;
  }
  .AboutUsSection {
    width: 90vw;
  }
  .AboutUsDiv {
    height: auto;
    padding: 10px 5px;
    text-align: center;
  }
  .AboutUsDiv p {
    word-spacing: 5px;
  }
  .trendingtext {
    font-size: 25px;
  }
  .BlogSectionTopDivText {
    left: 75px;
  }
  .MainBlogPage {
    width: 90vw;
  }
  .shopSection {
    width: 90vw;
  }
  .CatagoryAndProductContainer {
    flex-direction: column;
  }
  .CatagoriesSection {
    display: flex;
    width: 100%;
    padding: 10px 10px;
    font-size: 12px;
    font-family: "Didact Gothic", sans-serif;
    justify-content: space-between;
    position: unset;
    z-index: 0;
  }
  .PriceRange {
    width: 100px;
  }
  .SizeCatagory {
    padding: 0px 5px;
  }
  .Items {
    width: 50%;
  }
  .Items2 {
    display: flex;
    position: relative;
    width: 50%;
    height: 35px;
    justify-content: center;
    align-items: center;
  }
  .Search-input {
    display: none;
  }
  .dropdown {
    display: none;
  }
  nav {
    width: 100%;
    padding: 0px 15px;
    justify-content: space-around;
    width: 440px;
    justify-content: center;
  }
  #Shop > svg {
    width: 16px;
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
  }

  .dropdown {
    margin-left: 0px;
    margin-right: 0px;
  }
  #ListItem {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    right: -300px;
    height: 100vh;
    width: 300px;
    color: black;
    background-color: #eee;
    padding: 30px 0px 0px 20px;
    transition: 0.3s;
    z-index: 999;
  }
  #CatmenuMobileOff {
    display: none;
  }
  .MobilenavBarToggleofffDiv {
    margin-bottom: 50px;
  }
  .MobilenavBarToggleofffDiv {
    display: block;
  }
  .MobilenavBarToggleDiv {
    margin-left: 20px;
    display: block;
  }
  .container-input {
    display: none;
  }

  #ListItem {
    display: block;
  }
  .Dis {
    width: 100%;
    margin-left: 0px;
    z-index: 1;
  }
  .Dis h2 {
    color: #8785a2;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
  }
  .Dis h1 {
    color: #ff2e63;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
  .Dis p {
    color: #252a34;
    font-size: 9px;
    font-family: "Poppins", sans-serif;
  }
  #Shop {
    font-size: 11px;
    width: 100px;
    height: 25px;
    padding: 2px 13px;
  }
  .Photo img {
    height: 200px;
    width: 200px;
  }
  .SBB {
    margin-top: 10px;
    width: 90vw;
  }
  .BrandTitle h2 {
    font-size: 16px;
    margin-top: 15px;
    padding: 8px 0px;
  }
  .brands {
    padding: 10px 5px;
    margin-top: 5px;
  }
  .BLogo {
    height: 55px;
  }
  .NewandBestseller {
    width: 90vw;
  }
  #BestSeller {
    flex-wrap: wrap;
    padding: 10px 5px;
  }
  #NewArrival {
    flex-wrap: wrap;
    padding: 10px 5px;
  }
  .product {
    width: 175px;
  }
  .product img {
    height: 170px;
  }
  .title_cwrap p {
    font-size: 10px;
    font-family: "roboto", sans-serif;
    text-align: center;
    margin: 18px 0px 0px 0px;
    word-spacing: 5px;
  }
  .title_cwrap h3 {
    font-size: 35px;
  }
  .NewandBestseller {
    width: 90vw;
  }
  .featureParagraph {
    width: 90vw;
    margin-top: 50px;
  }
  .F img {
    height: 107px;
  }
  .Item {
    padding: 10px 5px;
    background-color: #f6f6f6;
    position: relative;
    width: 160px;
  }
  .ItemPhoto img {
    height: 150px;
  }
  .ItemDiscription h3 {
    font-size: 16px;
  }
  .productSection {
    width: 90vw;
  }
  .featureItem {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 80px;
  }
  .blogsSection {
    width: 90vw;
    padding: 10px 5px;
  }
  #NewArrivalBtn p {
    font-size: 20px;
  }
  #BestsellerBtn p {
    font-size: 20px;
  }
  .BlogHeading p {
    font-size: 12px;
  }
  .BlogHeading h2 {
    font-size: 19px;
  }
  .BText p {
    font-size: 8px;
  }
  .BImage img {
    height: 100px;
  }
  .features {
    width: 90vw;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .features img {
    height: 50px;
    margin: auto;
  }
  .newsletter {
    justify-content: space-evenly;
    padding: 10px 20px;
    flex-wrap: wrap;
    text-align: center;
  }
  .nl-1 {
    font-size: 12px;
  }
  .footer {
    gap: 50px;
    flex-direction: column;
    padding: 0px 20px;
  }

  .SingleProContainer {
    flex-direction: column;
  }
  .SingleProductShopDiv {
    width: 100%;
  }
  .pdiscription {
    width: 100%;
  }
  .pdiscription h3 b {
    font-size: 18px;
  }
  .CustomerReviewdiv h1 {
    font-size: 25px;
  }
  .FeaturedText h2 {
    font-size: 20px;
  }
  .ViewAllBtnInFeaturedProducts a {
    font-size: 14px;
  }
  .FeaturedProductsUnderProduct {
    width: 100%;
  }

  .CartTop {
    margin-top: 70px;
  }
  .CartBottom {
    flex-direction: column;
  }
  .CartTop h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .CartBottomLeft {
    width: 100%;
  }

  .CartBottomLeft table tbody tr td {
    font-size: 75%;
  }
  .CartBottomLeft table tbody tr td img {
    height: 70px;
  }
  .CartDiv {
    width: 90vw;
    margin: auto;
  }
  .CartBottomRight {
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 391px) {
  nav {
    width: 100%;
    padding: 0px 15px;
    justify-content: space-around;
    width: 420px;
    justify-content: center;
  }
  .Item {
    padding: 10px 5px;
    background-color: #f6f6f6;
    position: relative;
  }

  .SingleProContainer {
    flex-direction: column;
  }
  .SingleProductShopDiv {
    width: 100%;
  }
  .pdiscription {
    width: 100%;
  }
  .pdiscription h3 b {
    font-size: 18px;
  }
  .CustomerReviewdiv h1 {
    font-size: 25px;
  }
  .FeaturedText h2 {
    font-size: 20px;
  }
  .ViewAllBtnInFeaturedProducts a {
    font-size: 14px;
  }
  .FeaturedProductsUnderProduct {
    width: 100%;
  }
}
@media (max-width: 395px) {
  .BLogo {
    height: 50px;
  }
  .product {
    width: 160px;
  }
  .product img {
    height: 155px;
  }
}

@media (max-width: 361px) {
  .product {
    width: 150px;
  }
  .product img {
    height: 145px;
  }

  .SingleProContainer {
    flex-direction: column;
  }
  .SingleProductShopDiv {
    width: 100%;
  }
  .pdiscription {
    width: 100%;
  }
  .pdiscription h3 b {
    font-size: 18px;
  }
  .CustomerReviewdiv h1 {
    font-size: 25px;
  }
  .FeaturedText h2 {
    font-size: 20px;
  }
  .ViewAllBtnInFeaturedProducts a {
    font-size: 14px;
  }
  .FeaturedProductsUnderProduct {
    width: 100%;
  }
}
